/.build
/.*-build
/Packages
/swift-format

**.lcov
**.profdata
**.profraw

/*.xcodeproj
Package.resolved

**.lib
**.7z
llvm.pc

dist/

# IDEs
/.vscode
/.swiftpm
/.vscode/launch.json
/.idea
core