{% if members %}
<div class="content-nested-section" id="members">
  <h1>Members</h1>
  {% for key,values in members %}
  <div class="content-section" id="{{ key|filter:lowercaseAndHyphenFilter }}">
    <h2>{{ key }}</h2>
    <hr class="members-divider">
    {% for name, summary in values %}
      <div class="declaration">
        <code><pre>{{ name }}</pre></code>
        {{ summary }}
        <hr class="members-divider">
      </div>
      {% endfor %}
    <br>
  </div>
  {% endfor %}
</div>
{% endif %}