<li {% if item.id|toString == target.id|toString %} class="active"{% endif %}>
    {% if item.children %}
    <input type="checkbox" checked>
    {% endif %}

    <a class="nav-entry {{ item.cssClassOfTarget }}" href="{% refer target.relativePath item.relativePath %}">
        <div class="arrow"></div>
        {% if item.cssClassOfTarget == "symbol" %}
        <code class="inline"><pre>{{ item.name }}</pre></code>
        {% else %}
        <div class="icon"></div>
        <span>{{ item.name }}</span>
        {% endif %}
    </a>
    <!-- <a href="#" class="go-to-location" title="Open source location"></a> unsupported -->

    {% if item.children %}
    <ul>
        {% for item in item.children %}
          {% include "page_components/tree_item.html" %}
        {% endfor %}
    </ul>
    {% endif %}
</li>
