// Colors
$snippet-background: #232323;

.code-snippet {
  @apply relative z-0 rounded-md overflow-hidden;
  background-color: $snippet-background;
  border: 1px solid $thin-divider;

  // Icon overlay
  & > .options {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    gap: 16px;

    @apply flex flex-row z-10 opacity-0 transition-opacity duration-200;

    background-color: $snippet-background;
    opacity: 30%;
  }

  & > .body {
    @apply overflow-x-auto w-full;
  }

  // Hover effect
  &:hover > .options {
    @apply opacity-100;

    a:hover {
      color: var(--text-primary);
    }
  }

  code {
    display: block;
    padding: 16px;
  }
  .wrapper {
    overflow: auto;
  }

  .icon-button {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    cursor: pointer;

    &.copy {
      background-image: url(/assets/icons/copy.svg);
    }

    &.play {
      background-image: url(/assets/icons/play.svg);
    }
  }
}