.page-header {
  // Colors
  $header-background: #161616;
  height: 62px;

  display: flex;
  flex-direction: row;

  background-color: $header-background;
  border-bottom: 1px solid $thin-divider;

  .header-title {
    @apply w-80 flex-none flex flex-row gap-2;
    color: $text-primary;
    align-items: center;

    img {
      margin-left: 16px
    }

    h1 {
      font-size: 1em;
      font-weight: bold;
    }
  }

  .header-breadcrumb {
    @apply flex flex-row flex-nowrap items-center gap-2 pl-4;
    color: $text-secondary;
    overflow-x: auto;

    a {
      @apply content-center align-middle transition-colors duration-500 inline-block;
      font-size: $h3-size;
      font-weight: $p-weight;
      font-style: $p-style;
      white-space: nowrap;

      code {
        @apply inline-block;
      }

      &:not(:first-child):before {
        // @apply text-sm;
        content: url(icons/arrow.svg);
        display: inline-block;
        width: 14px;
        height: 17px;
      }

      &:last-child {
        color: $text-primary;
      }

      &:hover {
        @apply cursor-pointer;
        color: $text-primary;
      }
    }
  }
}