@use "sass:math";

// Firefox
@supports (-moz-appearance: none) {
  * {
    scrollbar-color: var(--scrollbar-background) transparent;
  }
}

// Chrome, Edge, and Safari
::-webkit-scrollbar-corner {
  background: transparent;
}

$scrollbar-width: 7px;
$scrollbar-padding: 8px;
*::-webkit-scrollbar {
  width: 2 * $scrollbar-padding + $scrollbar-width;
  height: 2 * $scrollbar-padding + $scrollbar-width; // Added this line
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background);
  background-clip: padding-box;
  border-radius: math.div(2 * $scrollbar-padding + $scrollbar-width, 2);
  border: 8px solid transparent;
  box-shadow: inset 0 0 0 1px var(--scrollbar-stroke);
}
