/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $background transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-2.5 h-2.5;
}

*::-webkit-scrollbar-track {
  @apply p-0.5 rounded-lg;
  background: $background;
}

*::-webkit-scrollbar-thumb {
  $thumb-background: #252525;
  $thumb-border: #525252;

  @apply rounded-lg;
  background-color: $thumb-background;
  border: 1px solid $thumb-border;
}