.page-content {
  @apply flex flex-col gap-6;

  & > div {
    @apply scroll-m-4;
  }
}

.content-nested-section {
  @apply flex flex-col gap-4;

  & > div {
    @apply scroll-m-4;
  }
}

.content-section {
  h1, h2 {
    @apply mb-2;
  }

  *:not(:last-child) {
    @apply mb-3;
  }

  p {
    a {
      @apply underline;
      color: $text-secondary-accent;

      &:hover {
        @apply cursor-pointer;
      }
    }

    strong {
      @apply font-bold;
      color: $text-primary;
    }

    em {
      @apply italic underline;
    }
  }

  blockquote {
    @apply pl-2;
    border-left: 3px solid $text-primary;
    color: $text-secondary;
  }

  hr {
    @apply h-0.5;
    border-color: $text-secondary;
  }

  img {
    @apply w-full block rounded-md;
  }

  ul {
    @apply list-disc
  }

  ol {
    @apply list-decimal
  }

  ul, ol {
    @apply ml-7;
    color: $text-primary;
  }

  .tag {
    @apply px-1.5 m-0 rounded-lg font-mono inline-block;
    border: 1px solid $thin-divider;
    background-color: $snippet-background;
  }

  .declaration {
    @apply py-2.5;
    border-top: 1px solid $thin-divider;

    &:last-child {
      border-bottom: 1px solid $thin-divider;
    }

    * {
      @apply m-0 p-0;
    }
  }

  .parameter {
    @apply py-2.5 flex flex-row gap-4 items-center;
    border-top: 1px solid $thin-divider;

    &:last-child {
      border-bottom: 1px solid $thin-divider;
    }

    * {
      @apply m-0 p-0;
    }

    .name {
      color: $text-primary;
    }
  }
}