<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="/icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- title -->
  <title>{% block title %}Hylo documentation{% endblock %}</title>
  <script type="module" crossorigin src="/assets/index-C99H64tU.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-BPKB5wg0.css">
</head>
<body>

<div style="width: 50%; margin-left: 25%">
  <div class="content">
    <div class="section">
      <!-- name -->
      <h1>{% block name %}This is a default name{% endblock %}</h1>
      <!-- summary -->
      <p>{% block summary %}This is a default summary{% endblock %}</p>
      <!-- code (optional) -->
      {%- if code %}
        <code>
          <!-- default code -->
          {% block code %}<span class="text-red-400">type</span> ArrayList&lt;<span class="text-purple-400">T</span>&gt;{% endblock %}
        </code>
      {% endif %}
    </div>

    <div class="section">
      <!-- overview -->
      <h1>Overview</h1>
      <p>{% block content %}This is a default content{% endblock %}</p>
    </div>

    <div class="section">
      <!-- topics -->
      <h1>Topics</h1>
      <p>{% block topics %}Those are some default topics{% endblock %}</p>
    </div>
  </div>
</div>

</body>
</html>