<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="{{ toRoot }}/assets/icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Documentation - {{ name }}</title>
  <script type="module" crossorigin src="{{ toRoot }}/assets/index-UOv0lzLm.js"></script>
  <link rel="stylesheet" crossorigin href="{{ toRoot }}/assets/index-DSezNRbW.css">
</head>
<body>

<div style="width: 50%; margin-left: 25%">
  <div class="content">
      {% block header %}
      <div class="section">
          <h1>{{ name }}</h1>
      </div>
      {% endblock %}
      {% block content %}{% endblock %}
  </div>
</div>

</body>
</html>