{% extends "layout.html" %}
{% block header %}
    <div class="section">
        <h1>{{ name }}</h1>
        {% if summary %}
        {{ summary }}
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    {% if description %}
        <div class="section">
            <h2>Details</h2>
            {{ description }}
        </div>
    {% endif %}
    {% if seeAlso %}
        <div class="section">
            <h2>See Also</h2>
            <ul>
            {% for el in seeAlso %}
                <li>
                {{ el }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}