{% extends "layout.html" %}

{% block header %}
    <div class="section">
        <h1>{{ name }}</h1>
        <code>
            {{ code }}
        </code>
        {% if summary %}
        <h4>{{ summary }}</h4>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    {% if overview %}
        <div class="section">
            <h2>Overview</h2>
            {{ overview }}
        </div>
    {% endif %}
    {% if children %}
        <div class="section">
            <h2>Children</h2>
            {% for childTitle,childUrl in children %}<a href="{{ childUrl }}">{{ childTitle }}</a>{% endfor %}
        </div>
    {% endif %}
{% endblock %}