<!--
  Parameters: 
   - pageTitle: String - The title of the page
   - pageType: String - should be Folder
   - children: [(title: String, url: String)] - the children of the folder
   - articleContent: String? - the html content of the index article associated with the folder
-->
{% extends "layout.html" %}

{% block content %}
    {% include "summary_section.html" %}

    {% if articleContent %}
    <div class="content-section" id="content">
        {{ articleContent }}
    </div>
    {% endif %}
    {% if contents %}
        <div class="content-section" id="contents">
            <h1>Contents</h1>
            <ul>
                {% for childTitle,childUrl in contents %}
                <li><a href="{{ childUrl }}" style="color: #21E5E5">{{ childTitle }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}