<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="{{ pathToRoot }}/assets/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ name }}</title>
  <link rel="stylesheet" crossorigin href="{{ pathToRoot }}/assets/index-BfVwKIXg.css">
</head>

<body class="page">

  <div class="page-header">
    <div class="header-title">
      <img src="{{ pathToRoot }}/assets/logo.svg">
      <h3>Documentation</h3>
    </div>

    <div class="header-breadcrumb">
      <a href="{{ pathToRoot }}">Documentation</a>
      {% for name, url in breadcrumb %}
        <a href="{{ url }}">{{ name }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="page-body">
    <div class="page-navigation">
      <div class="page-navigation-sticky">
        <aside class="page-tree">
          <div class="sidebar-search-cont">
            <!-- Only show search if JS is enabled -->
            <input type="text" id="sidebar-search" name="search" placeholder="Press   /   for Search" style="display: none">
            <script>document.getElementById("sidebar-search").style.display = 'block'</script>
          </div>

          <!-- Navigation -->
          <div id="navigation-tree-container">
            <ul>
              <li>
                <input type="checkbox" checked>
                <a class="nav-entry folder" href="#">
                  <div class="arrow"></div>
                  <div class="icon"></div>
                  <span>Standard Library</span>
                </a>
                <a href="#" class="go-to-location" title="Open source location"></a>
                <ul>
                  <li>
                    <input type="checkbox" checked>
                    <a class="nav-entry folder" href="#">
                      <div class="arrow"></div>
                      <div class="icon"></div>
                      <span>Geometry</span>
                    </a>
                    <a href="#" class="go-to-location" title="Open source location"></a>
                    <ul>
                      <li>
                        <input type="checkbox" checked>
                        <a class="nav-entry source-file" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Vector.hylo</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                        <ul>
                          <li class="active">
                            <input type="checkbox">
                            <a class="nav-entry" href="#">
                              <div class="arrow"></div>
                              <code class="inline"><span class="keyword">type</span> Vector2</code>
                            </a>
                            <a href="#" class="go-to-location" title="Open source location"></a>
                          </li>
                          <li>
                            <a class="nav-entry" href="#">
                              <div class="arrow"></div>
                              <code class="inline"><span class="keyword">fun</span> min(_:_:)</code>
                            </a>
                            <a href="#" class="go-to-location" title="Open source location"></a>
                          </li>
                          <li>
                            <a class="nav-entry" href="#">
                              <div class="arrow"></div>
                              <code class="inline"><pre><span class="keyword">trait</span> Comparable</pre></code>
                            </a>
                            <a href="#" class="go-to-location" title="Open source location"></a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox">
                    <a class="nav-entry folder" href="#">
                      <div class="arrow"></div>
                      <div class="icon"></div>
                      <span>Concurrency</span>
                    </a>
                    <a href="#" class="go-to-location" title="Open source location"></a>
                    <ul>
                      <li>
                        <a class="nav-entry source-file" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Item #1</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                      </li>
                      <li>
                        <a class="nav-entry source-file" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Item #2</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                      </li>
                      <li>
                        <a class="nav-entry source-file" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Item #3</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                      </li>
                      <li>
                        <input type="checkbox">
                        <a class="nav-entry folder" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Some Folder</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                        <ul>
                          <li>
                            <a class="nav-entry source-file" href="#">
                              <div class="arrow"></div>
                              <div class="icon"></div>
                              <span>Item #1</span>
                            </a>
                            <a href="#" class="go-to-location" title="Open source location"></a>
                          </li>
                          <li>
                            <a class="nav-entry source-file" href="#">
                              <div class="arrow"></div>
                              <div class="icon"></div>
                              <span>Item #2</span>
                            </a>
                            <a href="#" class="go-to-location" title="Open source location"></a>
                          </li>
                          <li>
                            <a class="nav-entry source-file" href="#">
                              <div class="arrow"></div>
                              <div class="icon"></div>
                              <span>Item #3</span>
                            </a>
                            <a href="#" class="go-to-location" title="Open source location"></a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <input type="checkbox" checked>
                    <a class="nav-entry folder" href="#">
                      <div class="arrow"></div>
                      <div class="icon"></div>
                      <span>Core</span>
                    </a>
                    <a href="#" class="go-to-location" title="Open source location"></a>
                    <ul>
                      <li>
                        <a class="nav-entry source-file" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Numbers</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                      </li>
                      <li>
                        <a class="nav-entry source-file" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Bool</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                      </li>
                      <li>
                        <input type="checkbox">
                        <a class="nav-entry source-file" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Assert</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                      </li>
                      <li>
                        <input type="checkbox">
                        <a class="nav-entry source-file" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Collection</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                      </li>
                      <li>
                        <input type="checkbox" checked>
                        <a class="nav-entry folder" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Comparable</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                        <ul>
                          <li>
                            <input type="checkbox">
                            <a class="nav-entry" href="#">
                              <div class="arrow"></div>
                              <code class="inline"><pre><span class="keyword">trait</span> Comparable</pre></code>
                            </a>
                            <a href="#" class="go-to-location" title="Open source location"></a>
                          </li>
                          <li>
                            <a class="nav-entry" href="#">
                              <div class="arrow"></div>
                              <code class="inline"><pre><span class="keyword">fun</span> min(_:_:)</pre></code>
                            </a>
                            <a href="#" class="go-to-location" title="Open source location"></a>
                          </li>
                          <li>
                            <a class="nav-entry" href="#">
                              <div class="arrow"></div>
                              <code class="inline"><pre><span class="keyword">fun</span> max(_:_:)</pre></code>
                            </a>
                            <a href="#" class="go-to-location" title="Open source location"></a>
                          </li>
                          <li>
                            <input type="checkbox">
                            <a class="nav-entry" href="#">
                              <div class="arrow"></div>
                              <code class="inline"><pre><span class="keyword">typealias</span> Result</pre></code>
                            </a>
                            <a href="#" class="go-to-location" title="Open source location"></a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a class="nav-entry article" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Comparisons</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                      </li>
                      <li>
                        <a class="nav-entry article" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>Collection Examples</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                      </li>
                      <li>
                        <a class="nav-entry article" href="#">
                          <div class="arrow"></div>
                          <div class="icon"></div>
                          <span>RegExp</span>
                        </a>
                        <a href="#" class="go-to-location" title="Open source location"></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <input type="checkbox">
                <a class="nav-entry folder" href="#">
                  <div class="arrow"></div>
                  <div class="icon"></div>
                  <span>Module B</span>
                </a>
                <a href="#" class="go-to-location" title="Open source location"></a>
                <ul>
                  <li>
                    <input type="checkbox">
                    <a class="nav-entry source-file" href="#">
                      <div class="arrow"></div>
                      <div class="icon"></div>
                      <span>Item #1</span>
                    </a>
                    <a href="#" class="go-to-location" title="Open source location"></a>
                  </li>
                </ul>
              </li>
              <li>
                <input type="checkbox">
                <a class="nav-entry folder" href="#">
                  <div class="arrow"></div>
                  <div class="icon"></div>
                  <span>Module C</span>
                </a>
                <a href="#" class="go-to-location" title="Open source location"></a>
                <ul>
                  <li>
                    <input type="checkbox">
                    <a class="nav-entry source-file" href="#">
                      <div class="arrow"></div>
                      <div class="icon"></div>
                      <span>Item #1</span>
                    </a>
                    <a href="#" class="go-to-location" title="Open source location"></a>
                  </li>
                  <li>
                    <input type="checkbox">
                    <a class="nav-entry source-file" href="#">
                      <div class="arrow"></div>
                      <div class="icon"></div>
                      <span>Item #2</span>
                    </a>
                    <a href="#" class="go-to-location" title="Open source location"></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </aside>
      </div>

      <div class="page-navigation-sticky">
        <aside class="page-toc">
          <h2>On this page</h2>
          <ul>
            <li><a href="#summary">Summary</a></li>
            {% for item in toc %}
            <li>
              <a href="#{{ item.id }}">{{ item.name }}</a>
              {% if item.children %}
              <ul>
                {% for childItem in item.children %}
                <li><a href="#{{ childItem.id }}">{{ childItem.name }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
    </div>

    <div class="page-content-container">
      <div class="page-content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  </div>
  <script type="module" crossorigin src="{{ pathToRoot }}/assets/index-UOv0lzLm.js"></script>
</body>

</html>
