<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="{{ pathToRoot }}/assets/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ target.simpleName }}</title>
  <link rel="stylesheet" crossorigin href="{{ pathToRoot }}/assets/index-u2hGlV48.css">
</head>

<body class="page">

  <div class="page-header">
    <div class="header-title">
      <img src="{{ pathToRoot }}/assets/logo.svg">
      <h3>Documentation</h3>
    </div>

    <div class="header-breadcrumb">
      {% for item in breadcrumbs %}
        <a href="{% refer target.relativePath item.relativePath %}">{{ item.name }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="page-body">
    <div class="page-navigation">
      <div class="page-navigation-sticky">
        <aside class="page-tree">
          <div class="sidebar-search-cont">
            <!-- Only show search if JS is enabled -->
            <input type="text" id="sidebar-search" name="search" placeholder="Press   /   for Search" style="display: none">
            <script>document.getElementById("sidebar-search").style.display = 'block'</script>
          </div>

          <!-- Navigation -->
          <div id="navigation-tree-container">
            <ul>
              {% for item in treeRoot %}
              {% include "page_components/tree_item.html" %}
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>

      <div class="page-navigation-sticky">
        <aside class="page-toc">
          <h2>On this page</h2>
          <ul>
            <li><a href="#summary">Summary</a></li>
            {% for item in toc %}
            <li>
              <a href="#{{ item.id }}">{{ item.name }}</a>
              {% if item.children %}
              <ul>
                {% for childItem in item.children %}
                <li><a href="#{{ childItem.id }}">{{ childItem.name }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
    </div>

    <div class="page-content-container">
      <div class="page-content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  </div>
  <script type="module" crossorigin src="{{ pathToRoot }}/assets/index-GECeN0Jw.js"></script>
</body>

</html>
